
.container.demo-1
  %header
    %h1
      Last minute AH diner
      %span met de AH Restaurantactie
  .main.clearfix
    = form_tag("/show", :method => "get", :class => "nl-form", :id => "nl-form") do
      Ik wil vanavond 
      = succeed "voor" do
        %br/
      = select_tag "persons", options_for_select([["2 personen","2"],["3 personen","3"],["4 personen","4"],["5 personen","5"],["6 personen","6"],["7 personen","7"],["8 personen","8"]])
      reserveren in
      %br/
      = select_tag "location", options_for_select([["Amsterdam","//seatme/nl_NL/381490>x>361490/747040>y>727040"],["Utrecht", "//seatme/nl_NL/396785>x>376785/715864>y>695864"],["Twente","//seatme/nl_NL/rid>{3062;2642;2643;2815;2838;3644;2843;4301;3369;4060;4216;4172;4177;4281;4008;3759;2293;3958;4157;3371;4262;2881;2839;4360;2842;2844;2836;2231;4288;2814;4148;4175;2875;2816;2813;2835;4052;4491;4389;4399;4425;4533;4540;4558;3376;4644;4665;4632;4708}"]])
      .nl-submit-wrap
        %button.nl-submit{:type => "submit"} Vind een restaurant
      .nl-overlay
:javascript
  var nlform = new NLForm( document.getElementById( 'nl-form' ) );